.b-card {
	width: 240px;
	height: 200px;
	margin: 5px;
	border: 1px solid $gray_30;
	border-bottom: 1px solid $gray_30;
	border-top: 4px solid $purple;
	box-shadow: 2px 2px 5px $gray_10;
	background-color: $white;
	display: inline-block;
	color: $gray_80;

	&.m-pinned {
		box-shadow: inset  2px 2px 4px $gray_30;
		background-color: $gray_5;
	}

	.e-card-pin {
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 22px;
		color: $gray_30;
	}
	
	.e-card-content {
		padding: 15px;
		height: 105px;
		overflow: hidden;

		h3 {
			font-size: 1.5rem;
			line-height: 1.5rem;
			font-weight: 100;
			color: $purple;
			margin: 0;
			padding: 0;
			margin-bottom: 10px;
			text-transform: lowercase;
			word-wrap: wrap;

		}

		p {
			font-size: 14px;
			line-height: 17px;
		}
	}

	.e-card-control {
		padding: 0 15px;		
		
		.e-card-button {
			padding: 5px 8px;
			background-color: $gray_10;
			cursor: pointer;
			display: block;
			text-align: center;

			&:hover {
				background-color: $purple;
				color: $white;
			}
		}
	}

	&.m-article.m-picture {
		border-top-color: $blue;
		
		.e-card-content {
			height: 135px;
		}

		h3 {
			color: $blue;
		}
	}



	&.m-people {
		border-top-color: $green;

		.e-person-pic {
			height: 80px;
			width: 80px;
			overflow: hidden;
			border-radius: 50%;
			margin: 10px auto 0;

			img {
				min-height: 80px;
				min-width: 80px;
			}
		}

		h3 {
			text-transform: uppercase;
			margin: 10px 15px 0;
			font-size: 16px;
			font-weight: bold;
			text-align: center;
			color: $green;
		}

		h4 {
			font-size: 14px;
			margin: 0 15px 0;
			font-weight: 400;
			color: $gray_60;
		}

		.e-card-content {
			height: 155px;
		}
	}

	&.m-video {
		border-top-color: $orange;

		iframe {
			width: 238px;
		}

		.e-card-content {
			height: 140px;
			overflow: hidden;
			padding-top: 5px;
		}

		h3 {
			color: $orange;
		}
	}

	&.m-project {
		border-top-color: $primary_color;

		h3 {
			color: $primary_color;
		}

		.e-card-button {
			padding: 5px 8px;
			background-color: $gray_10;
			cursor: pointer;
			display: block;
			text-align: center;

			&:hover {
				background-color: $primary_color;
				color: $white;
			}
		}
	}

	
	&:hover {
		box-shadow: 2px 2px 4px $gray_30;
		// color: $gray_80;
		// border-color: $gray_80;
	}
}

.b-card-tags {
	display: block;
	overflow-y: scroll;	
	max-height: 80px;
	padding: 10px 15px;

	.e-tag {
		border: 1px solid $gray_30;
		background-color: $gray_10_matte;
		color: $gray_50_matte;
		font-size: .7rem;
		line-height: 1em;
		word-wrap: normal;
		width: auto;
		margin: 1px;
		float: left;
		padding: 2px 4px;
	}
}