.b-project-section {
	.header {
		margin-bottom: 20px;
	}

	h1 {
		margin-bottom: 10px;
		font-size: 3rem;
		line-height: 3rem;
	}

	h2 {
		font-weight: 200;
		font-size: 1.4rem;
		letter-spacing: 1px;
	}

	p {
		font-size: 1rem;
		line-height: 1.5rem;
	}
	
	section {
		border-bottom: 1px solid $gray_20;
		padding: 15px 0;
	}

	.e-tags {

	}

	.e-status {
	}
}