body {
  margin: 0;
  font-family: "proxima-nova", "Helvetica Neue", Healvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;
  padding: 0;
  color: #444444; }

body {
  border-top: 3px solid #f05a28; }

.b-top-layer {
  background-color: white; }

.b-centered {
  max-width: 960px;
  margin: 0 auto; }

.b-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden; }

a {
  text-decoration: none;
  color: #f05a28; }
  a:hover {
    text-decoration: underline; }

h1 {
  font-weight: 100;
  font-size: 40px;
  color: #444444; }

h2 {
  font-weight: 600;
  color: #f05a28;
  font-size: 24px; }

h3 {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  text-transform: uppercase; }

ul {
  padding: 10px 0; }

li {
  padding: 3px 0;
  margin-left: 14px;
  position: relative;
  list-style: none;
  color: rgba(0, 0, 0, 0.8); }
  li::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid #f05a28;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    position: absolute;
    left: -14px;
    top: 6px; }

.b-quotes {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .b-quotes .e-quote {
    font-style: italic;
    margin-bottom: 0; }
  .b-quotes .e-quote-author {
    font-weight: 600;
    color: #444444;
    display: block;
    text-align: right;
    margin-bottom: 5px; }

.b-slider {
  width: 100%;
  overflow: hidden; }
  .b-slider .e-slide {
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 20px 20px 0;
    border-top: 3px solid #f05a28;
    padding-bottom: 15px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1); }
    .b-slider .e-slide h3, .b-slider .e-slide p {
      padding-right: 15px;
      padding-left: 15px; }

.b-footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 30px 0 0;
  margin-top: 30px; }
  .b-footer .e-partners {
    margin-bottom: 30px; }
    .b-footer .e-partners h4 {
      color: #939597;
      font-size: .8rem;
      text-transform: uppercase;
      font-weight: regular; }
    .b-footer .e-partners img {
      max-width: 80%; }
    .b-footer .e-partners #mit-logo {
      max-width: 60%; }
  .b-footer .e-creative-commons {
    font-size: .8rem;
    padding: 0 10px 10px;
    color: #939597;
    text-align: center; }
    .b-footer .e-creative-commons img {
      float: left;
      margin-right: 20px; }

input:focus, textarea:focus, sleect:focus, .form-control:focus {
  border-color: #f05a28 !important;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) !important; }

textarea {
  min-height: 6em; }

.b-form-section {
  display: block;
  clear: both;
  padding: 15px 0; }

.form-control, .input-group {
  margin-bottom: 10px; }

.b-button {
  background-color: #f05a28;
  padding: 8px 20px;
  font-weight: 600;
  color: white;
  border: 0; }
  .b-button:hover {
    color: rgba(255, 255, 255, 0.8); }

@media only screen and (max-width: 1023px) {
  .b-top-layer {
    position: relative;
    left: 0;
    min-height: 580px;
    background-color: white;
    transition: all .5s ease-in-out;
    box-shadow: -3px 0px 18px rgba(0, 0, 0, 0.6); }
    .b-top-layer.m-active {
      left: 60%;
      transition: all .5s ease-in-out; }

  .b-centered {
    width: 98.5%;
    padding: 0 5px;
    background-color: white; }

  .e-govlab-logo {
    display: block;
    padding: 10px 0 10px 10px; }
    .e-govlab-logo img {
      max-width: 40%; }

  .b-branding {
    text-align: center; }

  .e-academy-logo {
    width: 80px;
    height: 80px;
    margin: 10px 5px 0 0;
    display: inline-block;
    border: 3px solid #f05a28;
    border-radius: 50%;
    overflow: hidden; }
    .e-academy-logo img {
      width: 70%;
      position: relative;
      top: 15%; }

  .b-navigation {
    position: fixed;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px; }
    .b-navigation h2 {
      font-size: 24px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.6); }
    .b-navigation a {
      display: block;
      color: white;
      padding: 10px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 16px; }
      .b-navigation a:first-of-type {
        border-top: 0; }
      .b-navigation a:last-child {
        border-bottom: 0; }

  .e-trigger {
    font-size: 30px;
    color: #f05a28;
    left: 10px;
    top: 10px;
    position: absolute; }

  h1 {
    font-size: 22px;
    font-weight: 600;
    color: #f05a28;
    letter-spacing: .6px;
    margin-top: 20px; }

  h2 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8); }

  h3 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6); }

  .b-button {
    display: block;
    width: 86.25%;
    text-align: center; }

  .b-quotes {
    margin: 10px 20px 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .b-quotes .e-quote-author {
      display: block;
      text-align: right;
      margin-bottom: 5px; }
    .b-quotes:last-child {
      border-bottom: 0; }

  .b-resources h2 {
    margin: 30px 0 0; }
  .b-resources ul {
    margin-top: 0; }

  footer {
    padding: 10px; }
    footer h3 {
      font-weight: 400;
      margin: 5px 0; }
    footer p {
      margin-top: 0; }
    footer .b-footer-section {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      footer .b-footer-section:last-child {
        border-bottom: 0; }

  .b-slider .e-slide {
    width: 97.5%; }

  .b-library-item {
    width: 90% !important; }

  .b-half {
    float: none;
    width: 100% !important; } }
@media only screen and (min-width: 1024px) {
  .b-centered {
    position: relative; }

  .b-button {
    background-color: #f05a28;
    padding: 8px 20px;
    font-weight: 600;
    color: white; }
    .b-button:hover {
      color: white;
      background-color: rgba(0, 0, 0, 0.8);
      text-decoration: none; }

  .b-navigation {
    width: 960px;
    text-align: right;
    margin: 0 auto; }
    .b-navigation a {
      display: inline-block;
      padding: 8px 13px;
      vertical-align: top; }
    .b-navigation a:hover {
      background-color: #f05a28;
      color: white;
      text-decoration: none; }
    .b-navigation::before {
      display: none; }
    .b-navigation .e-nav-title {
      display: none; }

  .e-govlab-logo {
    display: block; }
    .e-govlab-logo img {
      max-width: 20%; }

  #main-navigation-trigger {
    display: none; }

  .e-academy-logo {
    width: 80px;
    height: 80px;
    margin: 10px 5px 0 0;
    display: inline-block;
    border: 3px solid #f05a28;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    position: absolute;
    right: 0;
    top: 5px; }
    .e-academy-logo img {
      width: 70%;
      position: relative;
      top: 15%; }

  .e-govlab-logo {
    display: inline-block;
    padding: 10px 0 10px 10px; }
    .e-govlab-logo img {
      max-width: 40%; }

  footer {
    clear: both;
    padding: 30px 0;
    overflow: hidden; }
    footer .b-footer-section {
      float: left;
      width: 30.20833%;
      margin-right: 40px; }
      footer .b-footer-section:last-child {
        margin-right: 0; }

  .b-half {
    float: left;
    width: 45.83333%;
    margin-right: 40px; }
    .b-half.m-right {
      margin-right: 0; }
    .b-half h1 {
      margin-top: 0; }
    .b-half .e-half-content {
      width: 100%; }

  #quotes {
    padding-bottom: 30px; }

  .b-quotes {
    margin: 10px 20px 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .b-quotes .e-quote {
      font-size: 36px;
      color: rgba(0, 0, 0, 0.4); }
    .b-quotes .e-quote-author {
      display: block;
      text-align: right;
      margin-bottom: 5px; }

  .b-slider .e-slide {
    width: 955px; }
    .b-slider .e-slide h3, .b-slider .e-slide p {
      padding-right: 15px;
      padding-left: 15px; }

  .b-canvas-form .b-half {
    width: 47.8%; } }
.b-project-section .header {
  margin-bottom: 20px; }
.b-project-section h1 {
  margin-bottom: 10px;
  font-size: 3rem;
  line-height: 3rem; }
.b-project-section h2 {
  font-weight: 200;
  font-size: 1.4rem;
  letter-spacing: 1px; }
.b-project-section p {
  font-size: 1rem;
  line-height: 1.5rem; }
.b-project-section section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 0; }
