$primary-color: rgba(240, 90, 40, 1);
$secondary-color: #444;
$gray_80: rgba(0,0,0,0.8);
$gray_60: rgba(0,0,0,0.6);
$gray_40: rgba(0,0,0,0.4);
$gray_30: rgba(0,0,0,0.3);
$gray_20: rgba(0,0,0,0.2);
$gray_10: rgba(0,0,0,0.1);
$gray_5: rgba(0,0,0,0.05);
$gray_01: rgba(0,0,0,0.01);

$gray_10_matte: #e6e7e8;
$gray_50_matte: #939597; 

$white: white;
$white_10: rgba(255, 255, 255, 0.1);
$white_20: rgba(255, 255, 255, 0.2);
$white_40: rgba(255, 255, 255, 0.4);
$white_60: rgba(255, 255, 255, 0.6);
$white_80: rgba(255, 255, 255, 0.8);
$green: rgba(40, 130, 24, 1);
$red: rgba(173, 13, 45, 1);
$blue: rgba(13, 72, 169, 1);
$purple: #503281;
$orange: rgba(240, 90, 40, 1);

$main-font: 'proxima-nova', 'Helvetica Neue', Healvetica, Arial, sans-serif;

@mixin circle {
	border-radius: 50%;
}

@mixin drop-shadow {
	box-shadow: 1px 1px 8px $gray_10;
}

@mixin back-panel-shadow {
	box-shadow: -3px 0px 18px $gray_60;
}

@mixin transition {
	transition: all .5s ease-in-out;
}

@import "base";
@import "forms";
@import "mobile";
@import "desktop";
@import "project";

