{% extends 'base.html' %}
{% block title %}About GovLab Academy{% endblock %}

{% block content %}

<div class="b-centered">

<h1>About the GovLab Academy</h1>

<section>
	<h2>Why?</h2>
	<div class="expandable">
	<p>
		The Academy is the GovLab’s educational and training initiative focused on bringing citizen-driven innovation to pressing public problems. 
	<br/>
		Often those who have the best ideas about improving the way that we experience cities are people who live in them and work in them. However, they might not have the skills, experience,or resources to implement an actionable project, campaign, or venture. The Academy’s goal is to provide the support needed to get these projects operating and making impact.
	</p>
</div>
</section>

<section>
	<h2>Funding</h2>
	<p>Funded by <a target="__new__" href="http://www.knightfoundation.org/">The John S. and James L. Knight Foundation</a>, The GovLab Academy prepares future public interest leaders with the mindset and skillset to leverage technology for improved decision making, builds the capacity to solve public problems through open innovation and collaboration and trains successful future leaders in government, not- and for-profit companies, and networks.
	</p>
</section>

<section>
	<h2>Team</h2>
	<p>
		PUT SOMETHING HERE
	</p>	
</section>

<section>
	<h2>Partners</h2>
	<p>A partnership between The GovLab and MIT Media Lab’s Online Learning Initiative, we offer …</p>
</section>

</div>

{% endblock %}