{% extends 'base.html' %}
{% block title %}Welcome to the GovLab Academy{% endblock %}

{% block content %}

<div class="container">
    
 <section>
 	<div>
  	<h1>Empowering the next generation of civic change agents</h1>
	</div>  
</section>

<section>
	<div class="row">

		<div class="cols-xs-12 col-sm-12 expandable">
		<p>The Academy is the GovLab’s educational and training initiative focused on bringing citizen-driven innovation to pressing public problems.</p>
	</div>

	  <div class="cols-xs-12 col-sm-4 expandable">
	  	<h2>What are public problems?</h2>
	    <p> Often they involve inefficiencies in governance including instances when local agencies fail to provide services, spend public funds, and manage operations in accordance with citizen interests. But public problems also exist outside of government. The ease with which we can hail a cab or find out the train schedule or learn about child care options in a local community are public problems as well. These are problems that impact our experiences as citizens and neighborhood residents.
<br/>
	    The GovLab is interested in expanding the pool of individuals, organizations, and agencies that participate in addressing these issues.</p>
</p>
	  </div>
	  
	  <div class="cols-xs-12 col-sm-4 expandable">
	  	<h2>Who do we help?</h2>
	  	<p>Often those who have the best ideas about improving the way that we experience cities are people who live in them and work in them. However, they might not have the skills, experience,or resources to implement an actionable project, campaign, or venture. The Academy’s goal is to provide the support needed to get these projects operating and making impact.</p>
	  </div>
	  
	  <div class="cols-xs-12 col-sm-4">
	  	<h2>What we provide?</h2>
	  	<p>
<ul>
<li>coaching to understand and define the problem at issue</li>
<li>strategic guidance in project development</li>
<li>mentor and peer networking opportunities</li>
<li>communication skills training</li>
<li>research training to understand the problem and hone in on the solution</li>
<li>connections to experts in the field</li>
<li>skillshares</li>
<li>courses about how to implement new technologies and design principles</li>
<li>access to funders</li>
</ul>
</p>
	  </div>
 	</div>
</section>

<section>
 	<div class="row top30">
 		<div class="cols-xs-4 col-sm-4"></div>
 		<div class="cols-xs-4 col-sm-4">
 			<img width="300px" src="./assets/images/academy-method.png" alt="GovLab Academy method"/>
 		</div>
 		<div class="cols-xs-4 col-sm-4"></div>
 	</div>
</section>

<section>
	<div class="row">
	  <div class="cols-xs-12 col-sm-4">
	  	<h2>Courses</h2>
	  	<div class="expandable">
	    <p>Solving Public Problems With Technology (“SPPWT”) is a semester-long course through which participants (1) become proficient in current tech and design practices implemented by civic hacking communities, and (2) develop their own projects. This course  in partnership with NYU, MIT’s Media Lab, and Arizona State University, and is offered to enrolled university students for credit and to non-credit online participants. Click [here] to see SPPWT’s current syllabus.</p>
	 		</div>
	  </div>
	  
	  <div class="cols-xs-12 col-sm-4">
	  	<h2>Coaching Programs</h2>
	  	<div class="expandable">
	  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	  	</div>
	  </div>
	  
	  <div class="cols-xs-12 col-sm-4">
	  	<h2>Workshops</h2>
	  	<div class="expandable">
	  	<p>The Academy works with municipal governments to train their staff in innovation and human-centered design. These courses are led by Alan Kantrow and held in person. Typically they are 1-3 days in length and are focused on learning rather than building.
	  </p>
	</div>
	  </div>
 	</div>

 	<div class="row">
 		<div class="cols-xs-12 col-sm-4">
 			<a href="offerings.html#courses" class="btn btn-raised">Learn more about courses</a>
 		</div>
 		<div class="cols-xs-12 col-sm-4">
 			<a href="offerings.html#coaching-programs" class="btn btn-raised">Learn more about coaching programs</a>
 		</div>
 		<div class="cols-xs-12 col-sm-4">
 			<a href="offerings.html#workshops" class="btn btn-raised">Learn more about workshops</a>
 		</div>

</section>

</div>

{% endblock %}

{% block document_ready_script %}
$('div.expandable p').expander({
    slicePoint:       300,  // default is 100
    expandPrefix:     ' ', // default is '... '
    expandText:       '<i class="fa fa-plus-square-o"></i>', // default is 'read more'
    collapseTimer:    0, // re-collapses after 5 seconds; default is 0, so no re-collapsing
    userCollapseText: '<i class="fa fa-minus-square-o"></i>'  // default is 'read less'
  });
  {% endblock %}