{% extends "base.html" %}
{% block title %}{{project_title}}{% endblock %}

{% block content %}


{# These are the variables you can use:
'name', 'project_title', 'team_name',
  'truonex_link', 'problem', 'why_compelling', 'summary',
  'tags', 'status', 'affiliation', 'country', 'class_of', 'online'
 #}
<article class="b-project-section">
	<div class="header">
		<h1>{{project_title}}</h1>
		<span class="e-status">Status <span class="m-status-{{status}}">{{status}}</span></span> | <a href="{{truonex_link}}" target="_blank">External Project Page</a>
		<p class="e-tags">Tags: {{tags}}</p>
		</div>

	<section>
		<h2>Problem you are solving</h2>
		<p>{{problem}}</p>
	</section>
	
	<section>
		<h2>Why this is compelling?</h2>
		<p>{{why_compelling}}</p>
	</section>

	<section>
		<h2>Summary</h2>
		<p>{{summary}}</p>
	</section>	
</article>

{% endblock %}