{% extends "base.html" %}
{% block title %}{{project_title}}{% endblock %}

{% block content %}

{# These are the variables you can use:
'name', 'project_title', 'team_name',
  'truonex_link', 'problem', 'why_compelling', 'summary',
  'tags', 'status', 'affiliation', 'country', 'class_of', 'online'
 #}

<h1>{{project_title}}</h1>

<h2>Problem you are solving</h2>
<div>{{problem}}</div>

<h2>Why this is compelling?</h2>
<div>{{why_compelling}}</div>

<h2>Summary</h2>
<div>{{summary}}</div>

<h2>Tags</h2>
<div>{{tags}}</div>

<h2>Status</h2>
<div>{{tags}}</div>

<h2>Status</h2>
<div>{{status}}</div>

<h2>External link for the project</h2>
<a href="{{truonex_link}}">{{truonex_link}}</a>

{% endblock %}